<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:annotation-config />

	<bean id="hello" class="com.beans.HelloWorld" scope="prototype">

	</bean>

	<bean id="user" class="com.beans.User">
		<property name="name" value="Sri" />
		<property name="age" value="25" />
		<property name="country" value="India" />
	</bean>

	<bean id="user1" class="com.beans.User">
		<property name="name" value="Sai" />
		<property name="age" value="23" />
		<property name="country" value="India" />
	</bean>

	<!-- constructor injection -->
	<bean id="addressObj1" class="com.beans.Address">
		<constructor-arg name="street" value="First Street" />
		<constructor-arg name="city" value="Mumbai" />
		<constructor-arg name="pinCode" value="603202" />
	</bean>

	<bean id="person1" class="com.beans.Person">
		<constructor-arg value="Sri" />
		<constructor-arg ref="addressObj1" />
	</bean>


	<bean id="player" class="com.beans.Player">
		<constructor-arg name="name" value="Dhoni" />
		<constructor-arg name="skill" value="Batsman" />
		<constructor-arg name="country" value="India" />
	</bean>

	<!-- <bean id="player1" class="com.beans.Player">
		<constructor-arg value="Dhoni" />
		<constructor-arg value="India" />
		<constructor-arg value="Batsman" />
	</bean>
	
	<bean id="player2" class="com.beans.Player">
		<constructor-arg index="0" value="Dhoni" />
		<constructor-arg index="2" value="India" />
		<constructor-arg index="1" value="Batsman" />
	</bean>
	-->

	<bean id="player3" class="com.beans.Player">
	<constructor-arg  index="1" value="Batsman" />
		<constructor-arg  index="0" value="Dhoni" />
		
	</bean>

	 <bean id="player4" class="com.beans.Player">

		<constructor-arg type="double" value="100.45" />
		<constructor-arg type="java.lang.String" value="Dhoni" />
	</bean>



	<!-- Inner bean setter injection -->
	<bean id="addressObj" class="com.beans.Address">
		<property name="street" value="Netaji Street" />
		<property name="city" value="Chennai" />
		<property name="pinCode" value="603102" />

	</bean>

	<bean id="person" class="com.beans.Person">
		<property name="name" value="Sai" />
		<property name="address" ref="addressObj" />
	</bean>
	<!-- p:schema -->
	<bean id="employeeBean" class="com.beans.Employee" p:id="1234"
		p:name="Daniel" />


	<context:property-placeholder
		location="classpath:patient_details.properties" />
	<bean id="ps" class="com.service.PatientService" />

	<bean id="p" class="com.beans.Patient">
		<property name="pid" value="${pid}"></property>
		<property name="pname" value="${pname}"></property>
		<property name="disease" value="${disease}"></property>
		<property name="gender" value="${gender}"></property>
		<property name="admit_status" value="${admit_status}"></property>
		<property name="age" value="${age}"></property>

	</bean>

	<!-- Collections -->
	<bean id="shapeCollection" class="com.beans.ShapeCollection">
		<property name="shapeOfList">
			<list>
				<value>Triangle</value>
				<value>Circle</value>
				<value>Square</value>
				<value>Rectangle</value>
			</list>
		</property>
		<property name="shapeOfSet">
			<set>
				<value>Triangle</value>
				<value>Circle</value>
				<value>Square</value>
				<value>Rectangle</value>
			</set>
		</property>
		<property name="shapeOfMap">
			<map>
				<entry key="1" value="Triangle"></entry>
				<entry key="2" value="Circle"></entry>
				<entry key="3" value="Square"></entry>
				<entry key="4" value="Rectangle"></entry>
			</map>
		</property>

	</bean>


</beans>











